body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(../Images/image.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

&::-webkit-scrollbar {
        display: none;
    }
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: #111; */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-inline-start: 0;
}

nav{
    margin-right: 30px;

}


nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
&:hover {
        color: #1521c5b0;
    }
}
section {
    padding: 50px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

.project {
    background-color: #322828;
    padding: 20px;
    margin: 20px auto;
    width: 25%;
    border-radius: 8px;

    &:hover {
        transform: scale(1.05);
        transition: transform 0.5s;

    }
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
}
input, textarea, button {
    padding: 10px;
    border: none;
    border-radius: 5px;
}
button {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
footer {
    /* background-color: #111; */
    padding: 20px;
}

.resume {
    margin-top: 20px;
}
.resume a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}